@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
	text-rendering: optimizeLegibility;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #EBEBEB;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Entire Page */
.page {
  width: 375px;
  margin: 25px auto;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}

hr {
  border: 1px solid rgba(160, 160, 160, 0.3);
  margin-top: 2px;
  margin-bottom: 5px;
}

/* Cards */
p {
  padding-top: 7px;
}

.card {
  width: 98%;
  padding: 0 1%;
}

.card-image {
  width: 100%;
}

.album-name {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}

.card-text-group {
  padding-left: 5px;
}

.artist-name {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 10px;
}

.playlist-name {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}

/* Card Overlay */
.card-image-group {
  position: relative;
}

.card-image-overlay {
  position: absolute;
  top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  transition: 0.5s ease;
  background: transparent;
}

.card-icons-overlay {
  position: absolute;
  top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Icons */
.icons {
  height: 40px;
  width: 40px;
  transition: 0.5s ease;
  transform: scale(0);
}

.play-icon {
  height: 80px;
  width: 80px;
  transition: 0.5s ease;
  transform: scale(0);
}

/* Hover Effects */
.card-image-group:hover .card-image-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.card-image-group:hover .icons, .card-image-group:hover .play-icon {
  transform: scale(1);
}

.play-icon:hover {
  height: 100px;
  width: 100px;
  /* opacity: 100%; */
}

.link-hover:hover {
  transition: 0.5s ease;
  color: white;
  text-decoration: underline;
}

/* Flickity Carousel */
.flickity-button {
  background: rgba(160, 160, 160, 0.5);
  height: 40px;
  width: 40px;
}

.flickity-button:hover {
  background: rgba(235, 235, 235, 0.8)
}

.flickity-button-icon {
  fill: rgba(24, 24, 24, 0.9)
}

.flickity-button-icon:hover {
  fill: rgba(24, 24, 24, 1)
}

/* Singles Section */
.singles {
  padding-top: 10px;
}

/* Playlists */
.playlists {
  display: none;
}

/* Media Query Tablet */

@media (min-width: 768px) {
  .page {
    min-width: 768px;
    width: 80vw;
  }

  .card {
    width: 49%;
    padding: 0 0.5%;
  }
}

/* Media Query Desktop */
@media (min-width: 1100px) {
  hr {
    margin-bottom: 8px;
  }

  .page {
    min-width: 1100px;
    max-width: 80vw;
  }

  .card {
    width: 24%;
    padding: 0 .5%;
  }
}